.logo {
  height: 300px;
  pointer-events: none;
}

.NotFound404 {
  background-color: #475053;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.NotFound404 a {
  color: #2cb3d4;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}
