.SignInPage {
  text-align: center;
}

.logo {
  width: 70%;
  max-width: 270px;
  pointer-events: none;
}

.SignIn-header {
  background-color: #475053;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.SignIn-link {
  color: #2cb3d4;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
}
